/* ----------------------- fonts ----------------------- */

@font-face {
  font-family: 'exosphere';
  src: url('../fonts/Exosphere.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'jet_set';
  src: url('../fonts/Jet_Set.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helios';
  src: url('../fonts/Helios_Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* ----------------------- global styles ----------------------- */

body {
  background-color: #0f0f0f;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}


/* ----------------------- header signs container ----------------------- */

.header-signs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-top: 60px;
}


/*  ----------------------- clickable signs container  ----------------------- */

.clickable-buttons {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  flex-shrink: 0;
}


/*  ----------------------- holo panel container  ----------------------- */

.holo-panel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  width: 100%;
  margin-top: 200px;
  max-width: 1400px;
  margin: 100px auto 100px;
}


/* ----------------------- neon sign animation for name/signs ----------------------- */

/* first name neon sign */
.neon-sign {
  font-family: 'jet_set';
  font-size: 4rem;
  color: #fff;
  text-shadow:
    0 0 5px #00d9ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff,
    0 0 80px #ff00ff;
  margin: 0;
  padding: 15px;
  border: 5px solid #00d9ff;
  border-radius: 10px;
  box-shadow:
    0 0 10px #00d9ff,
    0 0 15px #00d9ff;
  display: inline-block;
  background: rgba(15, 15, 15, 0.8);

  animation: flicker 3s infinite;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow:
    0 0 5px #00d9ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff,
    0 0 80px #ff00ff;
}
20%, 24%, 55% {
  opacity: 0.8;
  text-shadow:
    0 0 3px #00d9ff,
    0 0 7px #ff00ff,
    0 0 15px #ff00ff,
    0 0 30px #ff00ff,
    0 0 60px #ff00ff;
}
22%, 26% {
  opacity: 0.6;
  text-shadow:
    0 0 2px #00d9ff,
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff;
  }
}



 /* last name neon sign */
.broken-neon-sign {
  font-family: 'jet_set';
  font-size: 4rem;
  color: #fff;
  text-shadow:
    0 0 5px #00d9ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff,
    0 0 80px #ff00ff;
  margin: 0;
  padding: 15px;
  border: 5px solid #00d9ff;
  border-radius: 10px;
  box-shadow:
    0 0 10px #00d9ff,
    0 0 15px #00d9ff;
  display: inline-block;
  background: rgba(15, 15, 15, 0.8);

  transform: rotate(20deg);
  transform-origin: top left;

  animation: more-flicker 2s infinite;
}

@keyframes more-flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow:
    0 0 5px #00d9ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff,
    0 0 80px #ff00ff;
}
20%, 24%, 55% {
  opacity: 0.5;
  text-shadow:
    0 0 3px #00d9ff,
    0 0 7px #ff00ff,
    0 0 15px #ff00ff,
    0 0 30px #ff00ff,
    0 0 60px #ff00ff;
}
22%, 26% {
  opacity: 0.2;
  text-shadow:
    0 0 2px #00d9ff,
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff;
  }
15%, 35%, 45% {
  opacity: 0.1;
  }
}



/* clickable neon signs */
.clickable-neon-sign {
  font-family: 'exosphere';
  font-size: 1.2rem;
  color: #48ffff;
  text-shadow:
    0 0 5px #00d9ff,
    0 0 10px #00ffff;
  margin: 60px 0;
  padding: 23px 40px;
  border: 1px solid #00d9ff;
  border-radius: 10px;
  box-shadow:
    0 0 10px #00d9ff;
  display: inline-block;
  width: auto;
  background: rgba(0, 80, 80, 0.8);
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}



.clickable-neon-sign:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 10px #00d9ff,
    0 0 15px #00d9ff;
}





/* ----------------------- holo panel ----------------------- */

.holo-panel {
  font-family:'jet_set';
  font-size: 1.6rem;
  color: #00d9ff;
  text-shadow:
    0 0 5px #00778b,
    0 0 10px #00687a,
    0 0 20px #005868;
  margin: 0;
  padding: 20px;
  border: 2px solid #00d9ff;
  border-radius: 10px;
  box-shadow:
    0 0 10px #00d9ff,
    0 0 20px #00d9ff;
  background: rgba(15, 15, 15, 0.8); 
  width: 1400px;
  max-width: 1400px;
  height: 900px;
  min-height: 400px;
  text-align: center;
  position: static;
  animation: fades 0.5s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  transition: background 0.5s ease, box-sahadow 0.5s ease;
  flex: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.holo-panel.off {
  background: rgb(0, 27, 31);
  box-shadow: none;
  color: rgba(0, 0, 0, 0);
}

.holo-panel.on {
  background: rgba(0, 77, 77, 1);
  box-shadow:
    0 0 10px #00d9ff,
    0 0 20px #00d9ff;
  color: #00d9ff;
  transition: all 2s ease;
}


.panel-content {
  animation: swipeIn 0.7s ease-in-out;
}


.panel-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}


.panel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  height: 100%;
}

.panel-content {
  flex: 1;
  min-width: 0;
}

.panel-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 150px;
  flex-shrink: 0;
}


@keyframes swipeIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fades {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.email-link {
  color:#ffffff;
  text-decoration: none;
  font-weight: bold;
  text-shadow:
    0 0 5px #ffffff;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.email-link:hover {
  color: #ffffff;
  text-shadow:
    0 0 10px rgb(0, 247, 255),
    0 0 20px rgb(0, 247, 255),
    0 0 40px rgb(0, 247, 255);
}

.github-link {
  font-family: 'helios';
  color: #00d9ff;
  text-decoration: underline;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.github-link:hover {
  text-shadow:
    0 0 10px rgb(0, 210, 218),
    0 0 17px rgb(0, 210, 218),
    0 0 25px rgb(0, 210, 218);
}

.resume-link {
  font-family: 'jet_set';
  color: #00d9ff;
  text-decoration: underline;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.resume-link:hover {
  text-shadow:
    0 0 10px rgb(0, 210, 218),
    0 0 17px rgb(0, 210, 218),
    0 0 25px rgb(0, 210, 218);
}

.intro-message {
  font-family: 'jet_set';
  color: #00d9ff;
  font-size: 2rem;
  text-shadow: 0 0 10px #00a5c2;
  animation: fadeInOut 2.5s ease-in-out;
  text-align: center;
  padding: 40px;
}

.fade-in-main {
  animation: fadeInMain 0.5s ease-in forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInMain {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutMain {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header-font {
  font-family: 'helios';
}


.fade-out-main {
  animation: fadeOutMain 0.25s ease-in forwards;
}


/*  ----------------------- rain animation  ----------------------- */

.rain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 9999;
}

.raindrop {
  position: absolute;
  top: -10px;
  width: 0.5px;
  height: 30px;
  background: rgba(255, 255, 255, 0.5);
  animation: fall 0.5s linear infinite;
}

.raindrop.back-row {
  background: rgba(255, 255, 255, 0.2);
}

.raindrop.front-row {
  background: rgba(255, 255, 255, 0.5);
}

@keyframes fall {
  0% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(100vh);
    opacity: 0.5;
  }
  76% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

