
/* ----------------------- global styles ----------------------- */

body {
  background-color: #0f0f0f;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}




/* ----------------------- header signs container ----------------------- */

.header-signs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  margin-top: 60px;
}






/*  ----------------------- clickable signs container  ----------------------- */


.clickable-buttons {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  flex-shrink: 0;
}




/*  ----------------------- holo panel container  ----------------------- */

.holo-panel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  width: 100%;
  margin-top: 200px;
  max-width: 1000px;
  margin: 100px auto 0;
}



/* ----------------------- neon sign animation for name ----------------------- */


/* first name neon sign */
.neon-sign {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  color: #fff;
  text-shadow:
    0 0 5px #00d9ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff,
    0 0 80px #ff00ff;
  margin: 0;
  padding: 15px;
  border: 5px solid #00d9ff;
  border-radius: 10px;
  box-shadow:
    0 0 10px #00d9ff,
    0 0 15px #00d9ff;
  display: inline-block;
  background: rgba(15, 15, 15, 0.8);

  animation: flicker 3s infinite;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow:
    0 0 5px #00d9ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff,
    0 0 80px #ff00ff;
}
20%, 24%, 55% {
  opacity: 0.8;
  text-shadow:
    0 0 3px #00d9ff,
    0 0 7px #ff00ff,
    0 0 15px #ff00ff,
    0 0 30px #ff00ff,
    0 0 60px #ff00ff;
}
22%, 26% {
  opacity: 0.6;
  text-shadow:
    0 0 2px #00d9ff,
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff;
  }
}



 /* last name neon sign */
.broken-neon-sign {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  color: #fff;
  text-shadow:
    0 0 5px #00d9ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff,
    0 0 80px #ff00ff;
  margin: 0;
  padding: 15px;
  border: 5px solid #00d9ff;
  border-radius: 10px;
  box-shadow:
    0 0 10px #00d9ff,
    0 0 15px #00d9ff;
  display: inline-block;
  background: rgba(15, 15, 15, 0.8);

  transform: rotate(20deg);
  transform-origin: top left;

  animation: more-flicker 2s infinite;
}

@keyframes more-flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow:
    0 0 5px #00d9ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff,
    0 0 80px #ff00ff;
}
20%, 24%, 55% {
  opacity: 0.5;
  text-shadow:
    0 0 3px #00d9ff,
    0 0 7px #ff00ff,
    0 0 15px #ff00ff,
    0 0 30px #ff00ff,
    0 0 60px #ff00ff;
}
22%, 26% {
  opacity: 0.2;
  text-shadow:
    0 0 2px #00d9ff,
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff;
  }
15%, 35%, 45% {
  opacity: 0.1;
  }
}



/* clickable neon signs */
.clickable-neon-sign {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  color: #fff;
  text-shadow:
    0 0 5px #00d9ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff,
    0 0 80px #ff00ff;
  margin: 30px 0;
  padding: 15px 30px;
  border: 5px solid #00d9ff;
  border-radius: 10px;
  box-shadow:
    0 0 10px #00d9ff,
    0 0 15px #00d9ff;
  display: inline-block;
  width: auto;
  background: rgba(15, 15, 15, 0.8);
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  animation: flicker 4s infinite;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow:
    0 0 5px #00d9ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff,
    0 0 80px #ff00ff;
}
20%, 24%, 55% {
  opacity: 0.8;
  text-shadow:
    0 0 3px #00d9ff,
    0 0 7px #ff00ff,
    0 0 15px #ff00ff,
    0 0 30px #ff00ff,
    0 0 60px #ff00ff;
}
22%, 26% {
  opacity: 0.6;
  text-shadow:
    0 0 2px #00d9ff,
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff;
  }
}


.clickable-neon-sign:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 20px #00d9ff,
    0 0 30px #00d9ff;
}







/* ----------------------- holo signs for experience/projects ----------------------- */



.holo-panel {
  font-family:'Courier New', Courier, monospace;
  font-size: 1.2rem;
  color: #00d9ff;
  text-shadow:
    0 0 5px #00d9ff,
    0 0 10px #00d9ff,
    0 0 20px #00d9ff;
  margin: 0;
  padding: 20px;
  border: 2px solid #00d9ff;
  border-radius: 10px;
  box-shadow:
    0 0 10px #00d9ff,
    0 0 20px #00d9ff;
  background: rgba(15, 15, 15, 0.8); 
  width: 600px;
  max-width: 600px;
  height: 500px;
  min-height: 400px;
  text-align: center;
  position: static;
  animation: fades 0.5s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  transition: background 0.5s ease, box-sahadow 0.5s ease;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.holo-panel.off {
  background: black;
  box-shadow: none;
  color: rgba(0, 0, 0, 0);
}

.holo-panel.on {
  background: rgba(15, 15, 15, 0.8);
  box-shadow:
    0 0 10px #00d9ff,
    0 0 20px #00d9ff;
  color: #00d9ff;
}

.panel-content {
  animation: swipeIn 0.7s ease-in-out;
}

@keyframes swipeIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fades {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.email-link {
  color:#7c007c;
  text-decoration: none;
  font-weight: bold;
  text-shadow:
    0 0 5px #7c007c;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.email-link:hover {
  color: #ff00ff;
  text-shadow:
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff;
}



/*  ----------------------- rain animation  ----------------------- */




.rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  overflow: hidden;
  pointer-events: none;
}

.raindrop {
  position: absolute;
  top: -10px;
  width: 0.5px;
  height: 30px;
  background: rgba(255, 255, 255, 0.5);
  animation: fall 0.5s linear infinite;
}

.raindrop.back-row {
  background: rgba(255, 255, 255, 0.2);
}

.raindrop.front-row {
  background: rgba(255, 255, 255, 0.5);
}

@keyframes fall {
  0% {
    transform: translateY(0);
  }
  60% {
      transform: translateY(100vh);
      opacity: 0.5;
    }
  100% {
    transform: translateY(130vh);
    opacity: 0;
  }
}